<div class="container">
<p>home works!</p>
<button type="button" [routerLink]="['Book']" class="btn btn-primary">Add Book</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Book name</th>
			<th scope="col">Type</th>
			<th scope="col">Library</th>
			<th scope="col">description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of books">
			<td>
				{{ item.book_Name }}
			</td>
			<td>{{ item.type}}</td>
			<td>{{ item.library.name  }}</td>

			<td>{{ item.description}}</td>
			<button type="button" [routerLink]="['Book/Edit',item.id]" class="btn btn-info btn-sm ">Edit </button>

		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="PageCount*10"
		[(page)]="CurrentPage"
		[pageSize]="ItemCount"
		(pageChange)="onTableDataChange($event)"
	>
	</ngb-pagination>

	
</div>
</div>